/* 
1 - Posicione o Mário acima do Goomba.
2 - Posicione a tag p para que fique dentro do balão de fala.
3 - Posicione o balão para que se torne uma fala de Bowser. 
*/
.super-mario {
  width: 200px;
  position:absolute;
  top: px; 
}

.goomba {
  width: 100px;
  position:absolute;
  bottom: 430px;
  left: 134px;
}

.baloon {
position: absolute;
top: 90px;
left: 440px;
}

.speach {
  font-size: 25px;
  position: absolute;
  top: 120px;
  left: 458px;
  z-index: 1;
}

.bowser {
  width: 200px;
  position:absolute;
  left: 740px;
  bottom: 570px;

}

