h1 {
    color: orange;
    font-size: 65px;
    font-family: sans-serif;
}   

.list-style {
   background-color: rgba(235, 235, 235, 0.993);
   font-weight: bold;
   font-style: oblique;
   line-height: 25px;
   text-decoration:underline
}
#ca {
   color: rgb(253, 222, 46);
}

#ver {
   color: red;
}

#mar {
   color: brown;
}
p {
   font-weight: 600;
}

p {
   font-size: 3em;
}

body {
   font-size: 16px;
}
